language: "en"

pipeline:
- name: "nlp_spacy"
- name: "tokenizer_spacy"
- name: "ner_crf"
- name: "innatis.extractors.CompositeEntityExtractor"
- name: "tokenizer_whitespace"
- name: "intent_featurizer_count_vectors"
- name: "innatis.featurizers.UniversalSentenceEncoderFeaturizer"
- name: "intent_classifier_tensorflow_embedding"
  intent_tokenization_flag: true
  intent_split_symbol: "."
  "epochs": 200
  "droprate": 0.5